<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>PsPass</title>
    <link type="image/png" sizes="16x16" rel="shortcut icon" href="../img/logo_main.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/Auth.css">
    <script src="../js/Endereco.js"></script>
</head>

<body>
    <div class="container">
        <img id="logo" src="../img/logo_main.png" alt="logo">
        <form>
            <input type="text" id="apelido" placeholder="Apelido">
            <input type="text" id="cep" placeholder="Cep">
            <input type="text" id="endereco" placeholder="Endereço">
            <input type="text" id="numero" placeholder="Número">
            <input type="text" id="complemento" placeholder="Complemento">
            <input type="button" value="Cadastrar endereço" style="width: 240px;" onclick="cadastroEndereco()">
        </form>
    </div>
</body>

</html>